
        #producttable {
            display : flex;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
        }

        #pro-table { 
            width : auto;
            height :100%;
            font-size: 13px;
            }

        #pro-tbody input {
            font-size: 13px;
        }

        #pro-tfoot > tr > td {
            text-align: end;
            border : none;
        }

        #pro-tfoot > tr > td > button{
            font-size: 13PX;

        }

        th,td {
            border : 1px solid #141414;
            border-radius: 1px;
        }

        input[type="text"],
        input[type="number"]
         {
            box-sizing : border-box;
            width :100%;
            border : none;
            outline : none;
            text-align : left;
        }

        textarea {
            border: none;
            width : 98%;
            height : 99%;
            resize: none;
            font-size: 13px;
        }
         
        select {
            border : none;
            font-size: 13px;
        }
